$aliases: (
  inset: (top, right, bottom, left),
  //
  bg: background,
  //
  m: margin,
  mt: margin-top,
  mr: margin-right,
  mb: margin-bottom,
  ml: margin-left,
  mx: (margin-left, margin-right),
  my: (margin-top, margin-bottom),
  //
  p: padding,
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  pl: padding-left,
  px: (padding-left, padding-right),
  py: (padding-top, padding-bottom),
  //
  w: width,
  min-w: min-width,
  max-w: max-width,
  //
  h: height,
  min-h: min-height,
  max-h: max-height,
)